@font-face {
  font-family: Clip;
  src: url('https://acupoftee.github.io/fonts/Clip.ttf');
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #302e2e;
}

.container-fluid {
  padding: 0;
}

.middle {
  padding: 35px;
  padding-top: 20px;
  color: rgb(197, 192, 192);
  font-size: 20px;
}

p:hover {
  color: #ffffff;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background: linear-gradient(#000000, #1d1d1d, #302e2e);
}

.navbar-default .navbar-brand:hover {
  color: #a5a4a8;
  animation: name 2s timing-function direction fill-mode;
}

.navbar-nav li a:hover {
  color: #a5a4a8 !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(#302e2e, #1d1d1d, #000000);
}

.footer p {
  margin-top: 20px;
  font-size: 16px;
  color: rgb(109, 107, 107);
}

.sign {
  margin-top: 30px;
  display: flex;
  width: 50%;

  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: 'Clip';
  text-transform: uppercase;
  font-size: 4em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffffff, 0 0 1.5rem #cac9ca,
    -0.2rem 0.1rem 1rem #b69dab, 0.2rem 0.1rem 1rem #a09099,
    0 -0.5rem 2rem #686566, 0 0.5rem 3rem #727071;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffffff, 0 0 1.5rem #cac9ca,
      -0.2rem 0.1rem 1rem #b69dab, 0.2rem 0.1rem 1rem #a09099,
      0 -0.5rem 2rem #686566, 0 0.5rem 3rem #727071;
  }
  28%,
  33% {
    color: #928f91;
    text-shadow: none;
  }
  82%,
  97% {
    color: #686566;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #312f30;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffffff, 0 0 1.5rem #cac9ca,
      -0.2rem 0.1rem 1rem #b69dab, 0.2rem 0.1rem 1rem #a09099,
      0 -0.5rem 2rem #686566, 0 0.5rem 3rem #727071;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
